@page "/Administration"
@attribute [Authorize]

@using Microsoft.AspNetCore.Identity
@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using TextCopy

@inject UserManager<IdentityUser> _UserManager
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject IConfiguration _config
@inject ISnackbar Snackbar
@inject IClipboard Clipboard
@inject IDialogService DialogService

<AuthorizeView Roles="Admin">
    <Authorized>
        <MudContainer MaxWidth="MaxWidth.Large">
            <MudTabs Elevation="5" Rounded="true" Centered="true">
                <MudTabPanel Icon="@Icons.Material.Filled.Person" Text="Users">
                    <MudTable Items="_usersList" Context="items" Filter="new Func<IdentityUser,bool>(FilterFunc1)" @bind-SelectedItem="_selectedUser"
                              Hover="true" Loading="_loadingUsers" Elevation="5">
                        <ToolBarContent>
                            <MudText Typo="Typo.h6">Users</MudText>
                            <MudSpacer />
                            <MudTextField @bind-Value="_searchEMail" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"/>
                        </ToolBarContent>
                        
                        <HeaderContent>
                            <MudTh>Id</MudTh>
                            <MudTh>Email</MudTh>
                            <MudTh>Is Confirmed</MudTh>
                        </HeaderContent>
                        
                        <RowTemplate>
                            <MudTd DataLabel="Id">
                                <MudTooltip>
                                    <TooltipContent>
                                        <MudText>@items.Id</MudText>
                                    </TooltipContent>
                                    <ChildContent>
                                        <MudText @onclick="@(() => CopyIdToClipboard(items.Id))">@items.Id.ToString().Substring(0, 5)...</MudText>
                                    </ChildContent>
                                </MudTooltip>
                            </MudTd>
                            <MudTd>
                                <MudText @onclick="@(() => CopyIdToClipboard(items.Email))">@items.Email</MudText>
                            </MudTd>
                            <MudTd>
                                @if (items.EmailConfirmed)
                                {
                                    <MudCheckBox Checked="true" Disabled="true"/>
                                }
                                else
                                {
                                    <MudCheckBox Checked="false" Disabled="false" CheckedChanged="@(() => ConfirmEmail(items.Id))" />
                                }
                            </MudTd>
                        </RowTemplate>

                        <PagerContent>
                            <MudTablePager/>
                        </PagerContent>
                    </MudTable>
                    
                    <MudContainer MaxWidth="MaxWidth.Large" Class="mt-4 d-flex flex-row justify-center">
                        <MudContainer>
                            <MudCard Elevation="5">
                                <MudCardHeader>
                                    <CardHeaderContent><MudText>Selected user: @_selectedUser.Email</MudText></CardHeaderContent>
                                    <CardHeaderActions><MudButton StartIcon="@Icons.Material.Filled.Delete" Color="Color.Warning" Variant="Variant.Text">Reset selecting</MudButton></CardHeaderActions>
                                </MudCardHeader>

                                <MudCardContent>
                                    <MudForm @ref="form" @bind-IsValid="@success">
                                        <MudTextField T="string" Label="Email" Required="true" RequiredError="Email is required!" @bind-Value="_selectedUser.Email" For="@(() => _selectedUser.Email)"
                                                      Validation="@(new EmailAddressAttribute() {ErrorMessage = "The email address is invalid"})"/>
                                        <MudTextField T="string" Label="Password" HelperText="Choose a strong password" @bind-Value="_selectedUser.PasswordHash" For="@(() => _selectedUser.PasswordHash)"
                                                      InputType="InputType.Password"
                                                      Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" Required="true"
                                                      RequiredError="Password is required!"/>
                                    </MudForm>
                                </MudCardContent>

                                <MudCardActions>
                                    <MudButton StartIcon="@Icons.Material.Filled.Save" Color="Color.Success" OnClick="SaveUser">Save</MudButton>
                                    <MudButton StartIcon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="DeleteUser">Delete</MudButton>
                                </MudCardActions>
                            </MudCard>
                        </MudContainer>

                        <MudContainer>
                            <MudCard Elevation="5">
                                <MudCardHeader>
                                    <CardHeaderContent><MudText>Selected User Roles</MudText></CardHeaderContent>
                                </MudCardHeader>

                                <MudCardContent>

                                </MudCardContent>
                            </MudCard>
                        </MudContainer>
                    </MudContainer>

                </MudTabPanel>

                <MudTabPanel Icon="@Icons.Material.Filled.Add" Text="Add user">
                    <MudCard>
                        <MudCardHeader>
                            <CardHeaderContent></CardHeaderContent>
                            <CardHeaderActions></CardHeaderActions>
                        </MudCardHeader>
                        
                        <MudCardContent></MudCardContent>
                        
                        <MudCardActions></MudCardActions>
                    </MudCard>
                </MudTabPanel>
            </MudTabs>
        </MudContainer>

        @if (ShowPopup)
        {
            <!-- This is the popup to create or edit a user -->
            <div class="modal" tabindex="-1" style="display: block" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Edit User</h3>

                            <button type="button" class="btn-close" aria-label="Close" @onclick="ClosePopup"></button>
                        </div>

                        <div class="modal-body">
                            @if (_selectedUser.Id != "")
                            {
                                <p>@_selectedUser.Id</p>
                            }

                            @if (_selectedUser.Id != "")
                            {
                                <p>@_selectedUser.UserName</p>
                            }
                            else
                            {
                                <input class="form-control" type="text" placeholder="UserName" @bind="_selectedUser.UserName"/>
                            }

                            <input class="form-control" type="text" placeholder="Email" @bind="_selectedUser.Email"/>
                            <input class="form-control" type="password" placeholder="Password" @bind="_selectedUser.PasswordHash"/>
                            <select class="form-control" @bind="@CurrentUserRole">
                                @foreach (var option in Options)
                                {
                                    <option value="@option">
                                        @option
                                    </option>
                                }
                            </select>

                            <br/><br/>

                            <button class="btn btn-primary" @onclick="SaveUser"> Save </button>

                            @if (_selectedUser.Id != "")
                            {
                                <button class="btn btn-danger" @onclick="DeleteUser"> Delete </button>
                            }
                            <br/><br/>

                            <button class="btn btn-primary" @onclick="AddRole"> Add role </button>
                            <button class="btn btn-danger" @onclick="RemoveRole"> Remove role </button>
                            <button class="btn btn-info" @onclick="CheckRoles"> Check roles </button><br/><br/>

                            <span style="color: green">@success</span>
                            <span style="color: red">@strError</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </Authorized>
    <NotAuthorized>
        <p>You don't have permissions to see this page.</p>
        <p>If you're Admin, relogin after getting permissions.</p>
    </NotAuthorized>
</AuthorizeView>