@using Microsoft.AspNetCore.Identity;
@using NewsletterBlazor.Data;
@using NewsletterBlazor.Data.Entities;

@attribute [Authorize(Roles = "User")]

@inject UserManager<IdentityUser> _userManager
@inject ApplicationDbContext _context
@inject ILogger<CreateNewsletter> _logger
@inject IConfiguration _configuration
@inject AuthenticationStateProvider _AuthenticationStateProvider

<MudContainer MaxWidth="MaxWidth.Large" Class="ma-4 pa-4">
    <EditForm Model="@_mailModel" OnInvalidSubmit="@HandleForm">
        <MudCard Elevation="5">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h4">Mail</MudText>
                </CardHeaderContent>

                <CardHeaderActions>
                    <MudButton ButtonType="ButtonType.Reset" StartIcon="@Icons.Material.Filled.Restore" >Reset fields</MudButton>
                </CardHeaderActions>
            </MudCardHeader>

            <MudCardContent>
                <MudTextField Class="pa-2" Label="Subject" T="string" @bind-Value="@_mailModel.Subject" Required="true" Variant="Variant.Outlined"/>

                <MudTextField Class="pa-2" Label="Body" T="string" @bind-Value="@_mailModel.Body" Lines="10" Required="true" Variant="Variant.Outlined"/>

                <MudCheckBox T="bool" @bind-Checked="@_mailModel.IsHTML" Label="Is Body HTML" LabelPosition="LabelPosition.Start" Size="Size.Medium" Class="mt-4" />
            </MudCardContent>
            
            <MudCardActions>
                <ValidationSummary/>
                <DataAnnotationsValidator/>
            </MudCardActions>
        </MudCard>
        
        <MudCard Elevation="5" Class="mt-4">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h5">Actions</MudText>
                </CardHeaderContent>
            </MudCardHeader>

            <MudCardContent>
                <MudFileUpload T="IBrowserFile" FilesChanged="LoadReceivers" Accept=".txt" Required="true" @bind-Value="file">
                    <ButtonTemplate Context="AnotherContext">
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" StartIcon="@Icons.Material.Filled.AttachFile" HtmlTag="label" for="@context">
                            Attach Receivers
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
            </MudCardContent>
            
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Color="Color.Success" Variant="Variant.Filled">Send</MudButton>
            </MudCardActions>
        </MudCard>
    </EditForm>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.Small">
    <MudText Color="Color.Success" Align="Align.Center">@_state.Success</MudText>
    <MudText Color="Color.Warning" Align="Align.Center">@_state.Warning</MudText>
    <MudText Color="Color.Error" Align="Align.Center">@_state.Error</MudText>
</MudContainer>

@if (IsSending & ReceiversList.Count > 0)
{
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudProgressLinear Value="@ActualEmail" Min="1" Max="@ReceiversList.Count" Color="Color.Secondary" Rounded="true" Size="Size.Medium">
            <MudText Typo="Typo.subtitle1">Progress: @ActualEmail / @ReceiversList.Count</MudText>
        </MudProgressLinear>
    </MudContainer>
}

<br /><br />

<div style="display:flex; flex-direction:row; align-content:center; justify-content:center; margin-bottom:30px;">
    @if (ReceiversList.Count > 0)
    {
        <div style="padding:10px; border: 1px solid #000">
            <h2>All Emails:</h2>

            @if(ReceiversList.Count <= 5)
            {
                @foreach (var item in ReceiversList)
                {
                    <p>@item</p>
                }
            }
            else
            {
                @for (int i = 0; i < 5; i++)
                {
                    <p>@ReceiversList[i]</p>
                }
                <p>... @(ReceiversList.Count-5) more</p>
            }
        </div>
    }

    @if (BadReceivers.Count > 0)
    {
        <div style="padding:10px; margin-left:50px; border: 1px solid #000">
            <h2>Invalid Emails:</h2>

            @foreach (var item in BadReceivers)
            {
                    <p>@item</p>
            }
        </div>
    }
</div>